## Build results
bin/
obj/
out/
publish/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
.vscode/

## Logs
*.log

## OS files
.DS_Store
Thumbs.db

## NuGet
*.nupkg
*.snupkg
packages/
.nuget/

## EF Core
Migrations/*Snapshot.cs

appsettings.Development.json
appsettings.*.local.json

## SQL Server local files
*.mdf
*.ldf

## IIS Express
/.vs/
/IISExpress/

## Azure publish profiles
*.PublishSettings
*.pubxml
*.pubxml.user

node_modules/

## Temporary files
*.tmp
*.temp
*.architect~
