
USE [TrainingInstituteDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assessment]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessment](
	[assessmentID] [int] IDENTITY(1,1) NOT NULL,
	[enrollmentID] [int] NOT NULL,
	[instructorID] [int] NOT NULL,
	[result] [nvarchar](10) NOT NULL,
	[remarks] [nvarchar](500) NULL,
	[assessmentDate] [datetime] NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [assessmentID] PRIMARY KEY CLUSTERED 
(
	[assessmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[Parent_categoryID] [int] NULL,
 CONSTRAINT [categoryID] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certification_Required_Course]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certification_Required_Course](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[courseID] [int] NOT NULL,
	[certificationTrackID] [int] NOT NULL,
	[sequenceOrder] [int] NULL,
	[isMandatory] [bit] NOT NULL,
 CONSTRAINT [certReqCourseID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certification_Status]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certification_Status](
	[statusID] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
 CONSTRAINT [Certification_Status_pk] PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certification_Track]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certification_Track](
	[certificationTrackID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[validityPeriod] [int] NULL,
	[isActive] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [certificationID] PRIMARY KEY CLUSTERED 
(
	[certificationTrackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classroom]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classroom](
	[classroomID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[location] [nvarchar](200) NOT NULL,
	[building] [nvarchar](100) NOT NULL,
	[floor] [nvarchar](20) NOT NULL,
	[capacity] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [classroomID] PRIMARY KEY CLUSTERED 
(
	[classroomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classroom_Equipment]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classroom_Equipment](
	[equipmentID] [int] IDENTITY(1,1) NOT NULL,
	[classroomID] [int] NOT NULL,
	[equipmentType] [nvarchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[description] [nvarchar](255) NULL,
 CONSTRAINT [equipmentID] PRIMARY KEY CLUSTERED 
(
	[equipmentID] ASC,
	[classroomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coordinator]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coordinator](
	[coordinatorID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [nvarchar](450) NOT NULL,
	[department] [nvarchar](100) NOT NULL,
 CONSTRAINT [coordinatorID] PRIMARY KEY CLUSTERED 
(
	[coordinatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseID] [int] NOT NULL,
	[subjectAreaID] [int] NOT NULL,
	[categoryID] [int] NOT NULL,
	[prerequisiteCourseID] [int] NULL,
	[courseCode] [nvarchar](30) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[durationHours] [decimal](5, 2) NOT NULL,
	[maxCapacity] [int] NOT NULL,
	[enrollmentFee] [decimal](10, 2) NOT NULL,
	[equipmentRequirements] [nvarchar](500) NULL,
	[isActive] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [courseID] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course_Session]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course_Session](
	[sessionID] [int] IDENTITY(1,1) NOT NULL,
	[coordinatorID] [int] NOT NULL,
	[classroomID] [int] NOT NULL,
	[courseID] [int] NOT NULL,
	[instructorID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[sessionDate] [datetime] NOT NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[currentEnrollment] [int] NOT NULL,
	[maxCapacity] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [sessionID] PRIMARY KEY CLUSTERED 
(
	[sessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course_Session_Status]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course_Session_Status](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
 CONSTRAINT [Course_Session_Status_pk] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[enrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[sessionID] [int] NOT NULL,
	[traineeID] [int] NOT NULL,
	[enrollmentStatusID] [int] NOT NULL,
	[enrollmentDate] [datetime] NOT NULL,
	[statusChangedAt] [datetime] NOT NULL,
	[dropReason] [nvarchar](255) NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [enrollmentID] PRIMARY KEY CLUSTERED 
(
	[enrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment_Status]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment_Status](
	[enrollmentStatusID] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
 CONSTRAINT [Enrollment_Status_pk] PRIMARY KEY CLUSTERED 
(
	[enrollmentStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[instructorID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [nvarchar](450) NOT NULL,
	[hireDate] [datetime] NOT NULL,
	[bio] [nvarchar](500) NULL,
 CONSTRAINT [instructorID] PRIMARY KEY CLUSTERED 
(
	[instructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor_Availability]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor_Availability](
	[availabilityID] [int] IDENTITY(1,1) NOT NULL,
	[instructorID] [int] NOT NULL,
	[dayOfWeek] [int] NOT NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[effectiveFrom] [datetime] NOT NULL,
	[effectiveTo] [datetime] NULL,
	[isRecurring] [bit] NOT NULL,
 CONSTRAINT [availabilityID] PRIMARY KEY CLUSTERED 
(
	[availabilityID] ASC,
	[instructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor_Expertise]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor_Expertise](
	[expertiseID] [int] IDENTITY(1,1) NOT NULL,
	[instructorID] [int] NOT NULL,
	[subjectAreaID] [int] NOT NULL,
	[proficiencyLevel] [nvarchar](20) NOT NULL,
 CONSTRAINT [ID] PRIMARY KEY CLUSTERED 
(
	[expertiseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notificationID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [nvarchar](450) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[message] [nvarchar](1000) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[relatedEntityType] [nvarchar](50) NULL,
	[isRead] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[readAt] [datetime] NULL,
 CONSTRAINT [notificationID] PRIMARY KEY CLUSTERED 
(
	[notificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Record]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Record](
	[paymentRecordID] [int] IDENTITY(1,1) NOT NULL,
	[enrollmentID] [int] NOT NULL,
	[coordinatorID] [int] NOT NULL,
	[statusID] [int] NOT NULL,
	[totalAmount] [decimal](10, 2) NOT NULL,
	[dueDate] [datetime] NOT NULL,
	[issuedDate] [datetime] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [paymentRecordID] PRIMARY KEY CLUSTERED 
(
	[paymentRecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Status]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Status](
	[statusID] [int] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
 CONSTRAINT [Payment_Status_pk] PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Transaction]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Transaction](
	[transactionID] [int] IDENTITY(1,1) NOT NULL,
	[paymentRecordID] [int] NOT NULL,
	[coordinatorID] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[paymentMethod] [nvarchar](20) NOT NULL,
	[paymentDate] [datetime] NOT NULL,
	[notes] [nvarchar](300) NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [transactionID] PRIMARY KEY CLUSTERED 
(
	[transactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject_Area]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject_Area](
	[subjectAreaID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
 CONSTRAINT [subjectAreaID] PRIMARY KEY CLUSTERED 
(
	[subjectAreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainee]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainee](
	[traineeID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [nvarchar](450) NOT NULL,
	[dateOfBirth] [datetime] NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[emergencyContact] [nvarchar](50) NOT NULL,
 CONSTRAINT [traineeID] PRIMARY KEY CLUSTERED 
(
	[traineeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainee_Certification]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainee_Certification](
	[traineeCertID] [int] IDENTITY(1,1) NOT NULL,
	[traineeID] [int] NOT NULL,
	[certificationTrackID] [int] NOT NULL,
	[statusID] [int] NOT NULL,
	[eligibleDate] [datetime] NULL,
	[certificateIssuedDate] [datetime] NULL,
	[certificateNumber] [nvarchar](50) NULL,
	[expiryDate] [datetime] NULL,
 CONSTRAINT [traineeCertID] PRIMARY KEY CLUSTERED 
(
	[traineeCertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainee_Course_Completion]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainee_Course_Completion](
	[completionID] [int] IDENTITY(1,1) NOT NULL,
	[traineeID] [int] NOT NULL,
	[courseID] [int] NOT NULL,
	[sessionID] [int] NOT NULL,
	[completionDate] [datetime] NOT NULL,
	[result] [nvarchar](10) NOT NULL,
 CONSTRAINT [completionID] PRIMARY KEY CLUSTERED 
(
	[completionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Waitlist]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Waitlist](
	[waitlistID] [int] IDENTITY(1,1) NOT NULL,
	[sessionID] [int] NOT NULL,
	[traineeID] [int] NOT NULL,
	[statusID] [int] NOT NULL,
	[position] [int] NOT NULL,
	[addedAt] [datetime] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[expiresAt] [datetime] NULL,
 CONSTRAINT [waitlistID] PRIMARY KEY CLUSTERED 
(
	[waitlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Waitlist_Status]    Script Date: 4/27/2026 4:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Waitlist_Status](
	[statusID] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
 CONSTRAINT [Waitlist_Status_pk] PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assessment_enrollmentID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Assessment_enrollmentID] ON [dbo].[Assessment]
(
	[enrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assessment_instructorID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Assessment_instructorID] ON [dbo].[Assessment]
(
	[instructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_Parent_categoryID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Category_Parent_categoryID] ON [dbo].[Category]
(
	[Parent_categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Certification_Required_Course_unique_comb]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Certification_Required_Course_unique_comb] ON [dbo].[Certification_Required_Course]
(
	[courseID] ASC,
	[certificationTrackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Certification_Required_Course_certificationTrackID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Certification_Required_Course_certificationTrackID] ON [dbo].[Certification_Required_Course]
(
	[certificationTrackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Classroom_Equipment_classroomID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Classroom_Equipment_classroomID] ON [dbo].[Classroom_Equipment]
(
	[classroomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Coordinator_userID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Coordinator_userID] ON [dbo].[Coordinator]
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_categoryID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Course_categoryID] ON [dbo].[Course]
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_prerequisiteCourseID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Course_prerequisiteCourseID] ON [dbo].[Course]
(
	[prerequisiteCourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_subjectAreaID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Course_subjectAreaID] ON [dbo].[Course]
(
	[subjectAreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_Session_classroomID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Course_Session_classroomID] ON [dbo].[Course_Session]
(
	[classroomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_Session_coordinatorID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Course_Session_coordinatorID] ON [dbo].[Course_Session]
(
	[coordinatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_Session_courseID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Course_Session_courseID] ON [dbo].[Course_Session]
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_Session_instructorID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Course_Session_instructorID] ON [dbo].[Course_Session]
(
	[instructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_Session_StatusID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Course_Session_StatusID] ON [dbo].[Course_Session]
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollment_enrollmentStatusID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Enrollment_enrollmentStatusID] ON [dbo].[Enrollment]
(
	[enrollmentStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollment_sessionID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Enrollment_sessionID] ON [dbo].[Enrollment]
(
	[sessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollment_traineeID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Enrollment_traineeID] ON [dbo].[Enrollment]
(
	[traineeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Instructor_userID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Instructor_userID] ON [dbo].[Instructor]
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Instructor_Availability_instructorID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Instructor_Availability_instructorID] ON [dbo].[Instructor_Availability]
(
	[instructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Instructor_Expertise_unique_comb]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Instructor_Expertise_unique_comb] ON [dbo].[Instructor_Expertise]
(
	[instructorID] ASC,
	[subjectAreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Instructor_Expertise_subjectAreaID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Instructor_Expertise_subjectAreaID] ON [dbo].[Instructor_Expertise]
(
	[subjectAreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notification_userID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_userID] ON [dbo].[Notification]
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_Record_coordinatorID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_Record_coordinatorID] ON [dbo].[Payment_Record]
(
	[coordinatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_Record_enrollmentID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_Record_enrollmentID] ON [dbo].[Payment_Record]
(
	[enrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_Record_statusID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_Record_statusID] ON [dbo].[Payment_Record]
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_Transaction_coordinatorID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_Transaction_coordinatorID] ON [dbo].[Payment_Transaction]
(
	[coordinatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_Transaction_paymentRecordID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_Transaction_paymentRecordID] ON [dbo].[Payment_Transaction]
(
	[paymentRecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Trainee_userID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Trainee_userID] ON [dbo].[Trainee]
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trainee_Certification_certificationTrackID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Trainee_Certification_certificationTrackID] ON [dbo].[Trainee_Certification]
(
	[certificationTrackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trainee_Certification_statusID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Trainee_Certification_statusID] ON [dbo].[Trainee_Certification]
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Trainee_Certification_unique_comb]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Trainee_Certification_unique_comb] ON [dbo].[Trainee_Certification]
(
	[traineeID] ASC,
	[certificationTrackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trainee_Course_Completion_courseID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Trainee_Course_Completion_courseID] ON [dbo].[Trainee_Course_Completion]
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trainee_Course_Completion_traineeID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Trainee_Course_Completion_traineeID] ON [dbo].[Trainee_Course_Completion]
(
	[traineeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Waitlist_statusID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Waitlist_statusID] ON [dbo].[Waitlist]
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Waitlist_traineeID]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Waitlist_traineeID] ON [dbo].[Waitlist]
(
	[traineeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Waitlist_unique_comb]    Script Date: 4/27/2026 4:25:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Waitlist_unique_comb] ON [dbo].[Waitlist]
(
	[sessionID] ASC,
	[traineeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assessment] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Certification_Required_Course] ADD  DEFAULT (CONVERT([bit],(1))) FOR [isMandatory]
GO
ALTER TABLE [dbo].[Certification_Track] ADD  DEFAULT (CONVERT([bit],(1))) FOR [isActive]
GO
ALTER TABLE [dbo].[Certification_Track] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Classroom] ADD  DEFAULT (CONVERT([bit],(1))) FOR [isActive]
GO
ALTER TABLE [dbo].[Course] ADD  DEFAULT (CONVERT([bit],(1))) FOR [isActive]
GO
ALTER TABLE [dbo].[Course] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Course_Session] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT (getdate()) FOR [enrollmentDate]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Instructor_Availability] ADD  DEFAULT (CONVERT([bit],(1))) FOR [isRecurring]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Payment_Record] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Payment_Transaction] ADD  DEFAULT (getdate()) FOR [paymentDate]
GO
ALTER TABLE [dbo].[Payment_Transaction] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Waitlist] ADD  DEFAULT (getdate()) FOR [addedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD  CONSTRAINT [Enrollment_Assesment_fk] FOREIGN KEY([enrollmentID])
REFERENCES [dbo].[Enrollment] ([enrollmentID])
GO
ALTER TABLE [dbo].[Assessment] CHECK CONSTRAINT [Enrollment_Assesment_fk]
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD  CONSTRAINT [Instructor_Assesment_fk] FOREIGN KEY([instructorID])
REFERENCES [dbo].[Instructor] ([instructorID])
GO
ALTER TABLE [dbo].[Assessment] CHECK CONSTRAINT [Instructor_Assesment_fk]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [Category_Category_fk] FOREIGN KEY([Parent_categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [Category_Category_fk]
GO
ALTER TABLE [dbo].[Certification_Required_Course]  WITH CHECK ADD  CONSTRAINT [Certification_Track_Certification_Required_Course_fk] FOREIGN KEY([certificationTrackID])
REFERENCES [dbo].[Certification_Track] ([certificationTrackID])
GO
ALTER TABLE [dbo].[Certification_Required_Course] CHECK CONSTRAINT [Certification_Track_Certification_Required_Course_fk]
GO
ALTER TABLE [dbo].[Certification_Required_Course]  WITH CHECK ADD  CONSTRAINT [Course_Certification_Required_Course_fk] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Certification_Required_Course] CHECK CONSTRAINT [Course_Certification_Required_Course_fk]
GO
ALTER TABLE [dbo].[Classroom_Equipment]  WITH CHECK ADD  CONSTRAINT [Classroom_Classroom_Equipment_fk] FOREIGN KEY([classroomID])
REFERENCES [dbo].[Classroom] ([classroomID])
GO
ALTER TABLE [dbo].[Classroom_Equipment] CHECK CONSTRAINT [Classroom_Classroom_Equipment_fk]
GO
ALTER TABLE [dbo].[Coordinator]  WITH CHECK ADD  CONSTRAINT [FK_Coordinator_AspNetUsers_userID] FOREIGN KEY([userID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Coordinator] CHECK CONSTRAINT [FK_Coordinator_AspNetUsers_userID]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [Category_Course_fk] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [Category_Course_fk]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [Course_Course_fk] FOREIGN KEY([prerequisiteCourseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [Course_Course_fk]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [Course_Subject_Area_fk] FOREIGN KEY([subjectAreaID])
REFERENCES [dbo].[Subject_Area] ([subjectAreaID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [Course_Subject_Area_fk]
GO
ALTER TABLE [dbo].[Course_Session]  WITH CHECK ADD  CONSTRAINT [Classroom_Course_Session_fk] FOREIGN KEY([classroomID])
REFERENCES [dbo].[Classroom] ([classroomID])
GO
ALTER TABLE [dbo].[Course_Session] CHECK CONSTRAINT [Classroom_Course_Session_fk]
GO
ALTER TABLE [dbo].[Course_Session]  WITH CHECK ADD  CONSTRAINT [Coordinator_Course_Session_fk] FOREIGN KEY([coordinatorID])
REFERENCES [dbo].[Coordinator] ([coordinatorID])
GO
ALTER TABLE [dbo].[Course_Session] CHECK CONSTRAINT [Coordinator_Course_Session_fk]
GO
ALTER TABLE [dbo].[Course_Session]  WITH CHECK ADD  CONSTRAINT [Course_Course_Session_fk] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Course_Session] CHECK CONSTRAINT [Course_Course_Session_fk]
GO
ALTER TABLE [dbo].[Course_Session]  WITH CHECK ADD  CONSTRAINT [Course_Session_Status_Course_Session_fk] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Course_Session_Status] ([StatusID])
GO
ALTER TABLE [dbo].[Course_Session] CHECK CONSTRAINT [Course_Session_Status_Course_Session_fk]
GO
ALTER TABLE [dbo].[Course_Session]  WITH CHECK ADD  CONSTRAINT [Instructor_Course_Session_fk] FOREIGN KEY([instructorID])
REFERENCES [dbo].[Instructor] ([instructorID])
GO
ALTER TABLE [dbo].[Course_Session] CHECK CONSTRAINT [Instructor_Course_Session_fk]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [Course_Session_Enrollment_fk] FOREIGN KEY([sessionID])
REFERENCES [dbo].[Course_Session] ([sessionID])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [Course_Session_Enrollment_fk]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [Enrollment_Status_Enrollment_fk] FOREIGN KEY([enrollmentStatusID])
REFERENCES [dbo].[Enrollment_Status] ([enrollmentStatusID])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [Enrollment_Status_Enrollment_fk]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [Trainee_Enrollment_fk] FOREIGN KEY([traineeID])
REFERENCES [dbo].[Trainee] ([traineeID])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [Trainee_Enrollment_fk]
GO
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_AspNetUsers_userID] FOREIGN KEY([userID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Instructor] CHECK CONSTRAINT [FK_Instructor_AspNetUsers_userID]
GO
ALTER TABLE [dbo].[Instructor_Availability]  WITH CHECK ADD  CONSTRAINT [Instructor_Instructor_Availability_fk] FOREIGN KEY([instructorID])
REFERENCES [dbo].[Instructor] ([instructorID])
GO
ALTER TABLE [dbo].[Instructor_Availability] CHECK CONSTRAINT [Instructor_Instructor_Availability_fk]
GO
ALTER TABLE [dbo].[Instructor_Expertise]  WITH CHECK ADD  CONSTRAINT [Instructor_Instructor_Expertise_fk] FOREIGN KEY([instructorID])
REFERENCES [dbo].[Instructor] ([instructorID])
GO
ALTER TABLE [dbo].[Instructor_Expertise] CHECK CONSTRAINT [Instructor_Instructor_Expertise_fk]
GO
ALTER TABLE [dbo].[Instructor_Expertise]  WITH CHECK ADD  CONSTRAINT [Subject_Area_Instructor_Expertise_fk] FOREIGN KEY([subjectAreaID])
REFERENCES [dbo].[Subject_Area] ([subjectAreaID])
GO
ALTER TABLE [dbo].[Instructor_Expertise] CHECK CONSTRAINT [Subject_Area_Instructor_Expertise_fk]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_AspNetUsers_userID] FOREIGN KEY([userID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_AspNetUsers_userID]
GO
ALTER TABLE [dbo].[Payment_Record]  WITH CHECK ADD  CONSTRAINT [Enrollment_Payment_Record_fk] FOREIGN KEY([enrollmentID])
REFERENCES [dbo].[Enrollment] ([enrollmentID])
GO
ALTER TABLE [dbo].[Payment_Record] CHECK CONSTRAINT [Enrollment_Payment_Record_fk]
GO
ALTER TABLE [dbo].[Payment_Record]  WITH CHECK ADD  CONSTRAINT [Payment_Record_Coordinator_fk] FOREIGN KEY([coordinatorID])
REFERENCES [dbo].[Coordinator] ([coordinatorID])
GO
ALTER TABLE [dbo].[Payment_Record] CHECK CONSTRAINT [Payment_Record_Coordinator_fk]
GO
ALTER TABLE [dbo].[Payment_Record]  WITH CHECK ADD  CONSTRAINT [Payment_Status_Payment_Record_fk] FOREIGN KEY([statusID])
REFERENCES [dbo].[Payment_Status] ([statusID])
GO
ALTER TABLE [dbo].[Payment_Record] CHECK CONSTRAINT [Payment_Status_Payment_Record_fk]
GO
ALTER TABLE [dbo].[Payment_Transaction]  WITH CHECK ADD  CONSTRAINT [Coordinator_Payment_Transaction_fk] FOREIGN KEY([coordinatorID])
REFERENCES [dbo].[Coordinator] ([coordinatorID])
GO
ALTER TABLE [dbo].[Payment_Transaction] CHECK CONSTRAINT [Coordinator_Payment_Transaction_fk]
GO
ALTER TABLE [dbo].[Payment_Transaction]  WITH CHECK ADD  CONSTRAINT [Payment_Record_Payment_Transaction_fk] FOREIGN KEY([paymentRecordID])
REFERENCES [dbo].[Payment_Record] ([paymentRecordID])
GO
ALTER TABLE [dbo].[Payment_Transaction] CHECK CONSTRAINT [Payment_Record_Payment_Transaction_fk]
GO
ALTER TABLE [dbo].[Trainee]  WITH CHECK ADD  CONSTRAINT [FK_Trainee_AspNetUsers_userID] FOREIGN KEY([userID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Trainee] CHECK CONSTRAINT [FK_Trainee_AspNetUsers_userID]
GO
ALTER TABLE [dbo].[Trainee_Certification]  WITH CHECK ADD  CONSTRAINT [Certification_Status_Trainee_Certification_fk] FOREIGN KEY([statusID])
REFERENCES [dbo].[Certification_Status] ([statusID])
GO
ALTER TABLE [dbo].[Trainee_Certification] CHECK CONSTRAINT [Certification_Status_Trainee_Certification_fk]
GO
ALTER TABLE [dbo].[Trainee_Certification]  WITH CHECK ADD  CONSTRAINT [Certification_Track_Trainee_Certification_fk] FOREIGN KEY([certificationTrackID])
REFERENCES [dbo].[Certification_Track] ([certificationTrackID])
GO
ALTER TABLE [dbo].[Trainee_Certification] CHECK CONSTRAINT [Certification_Track_Trainee_Certification_fk]
GO
ALTER TABLE [dbo].[Trainee_Certification]  WITH CHECK ADD  CONSTRAINT [Trainee_Trainee_Certification_fk] FOREIGN KEY([traineeID])
REFERENCES [dbo].[Trainee] ([traineeID])
GO
ALTER TABLE [dbo].[Trainee_Certification] CHECK CONSTRAINT [Trainee_Trainee_Certification_fk]
GO
ALTER TABLE [dbo].[Trainee_Course_Completion]  WITH CHECK ADD  CONSTRAINT [Course_Trainee_Course_Completion_fk] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Trainee_Course_Completion] CHECK CONSTRAINT [Course_Trainee_Course_Completion_fk]
GO
ALTER TABLE [dbo].[Trainee_Course_Completion]  WITH CHECK ADD  CONSTRAINT [Trainee_Trainee_Course_Completion_fk] FOREIGN KEY([traineeID])
REFERENCES [dbo].[Trainee] ([traineeID])
GO
ALTER TABLE [dbo].[Trainee_Course_Completion] CHECK CONSTRAINT [Trainee_Trainee_Course_Completion_fk]
GO
ALTER TABLE [dbo].[Waitlist]  WITH CHECK ADD  CONSTRAINT [Course_Session_Waitlist_fk] FOREIGN KEY([sessionID])
REFERENCES [dbo].[Course_Session] ([sessionID])
GO
ALTER TABLE [dbo].[Waitlist] CHECK CONSTRAINT [Course_Session_Waitlist_fk]
GO
ALTER TABLE [dbo].[Waitlist]  WITH CHECK ADD  CONSTRAINT [Trainee_Waitlist_fk] FOREIGN KEY([traineeID])
REFERENCES [dbo].[Trainee] ([traineeID])
GO
ALTER TABLE [dbo].[Waitlist] CHECK CONSTRAINT [Trainee_Waitlist_fk]
GO
ALTER TABLE [dbo].[Waitlist]  WITH CHECK ADD  CONSTRAINT [Waitlist_Status_Waitlist_fk] FOREIGN KEY([statusID])
REFERENCES [dbo].[Waitlist_Status] ([statusID])
GO
ALTER TABLE [dbo].[Waitlist] CHECK CONSTRAINT [Waitlist_Status_Waitlist_fk]
GO
USE [master]
GO
